<h1 style="margin-bottom:30px;">Department Overview</h1>


<table id="department_overview" class="display" data-source="<%= dashboard_overview_data_url(format: "json") %>">
  <thead>
      <tr>
        <th>GDS #</th>
        <th>Reservation Date</th>
        <th>Days Prior</th>
        <th>Airline</th>
      </tr>
  </thead>
<tbody>
</tbody>
</table>





<br>
<br><br><br><br><br><hr>






<%= image_tag(@line_chart) %>
<br>
<br>

<%= image_tag(@sparkline_chart) %>

<br>
<br>

<%= image_tag(@piechart) %>
<br>
<br>

<%= image_tag(@scatter_chart) %>
<br>
<br>

<%= image_tag(@barchart) %>



<br>
<br>

