<h1 style="margin-bottom:30px;">All Transactions</h1>

<%= image_tag(@line_chart) %>
<br>
<br>

<%= image_tag(@sparkline_chart) %>

<br>
<br>

<%= image_tag(@piechart) %>
<br>
<br>

<%= image_tag(@scatter_chart) %>
<br>
<br>

<%= image_tag(@barchart) %>



<br>
<br>

