<div class="filterBar">
    <div class="btn-group">
            <button type="button" class="btn btn-default"><%= image_tag "airplane_icon.png" %></button>
            <button type="button" class="btn btn-default"><%= image_tag "hotel_icon.png" %></button>
            <button type="button" class="btn btn-default"><%= image_tag "car_icon.png" %></button>
            <button style="font-size: 1.6em" type="button" class="btn btn-default all">ALL</button>
        </div>
    <% unless controller.action_name == "overview" %>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Department <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">All</a></li>
        <li><a href="#">NIH</a></li>
        <li><a href="#">GSA</a></li>
        <li><a href="#">IRS</a></li>
        <li><a href="#">EPA</a></li>
        <li><a href="#">FEMA</a></li>
        <li><a href="#">DoJ</a></li>
        <li><a href="#">FBI</a></li>
        <li><a href="#">CIA</a></li>
        <li><a href="#">DE</a></li>
        <li><a href="#">DHS</a></li>
        <li><a href="#">USDA</a></li>
      </ul>
    </div>
    <% end %>
    <span id="reportrange" class="pull-right">
        <i class="fa fa-calendar fa-lg"></i>
        <span><%= @date_in_past %> - <%= @date %></span> <b class="caret"></b>
    </span>
</div>


