<div class="filterBar">
    <div class="btn-group" id="transcationTypeFilter">

        <% if controller.action_name == "trends" %>
                <a href="/dashboard/trends#/flights" type="button" data-filter="Flight" class="btn btn-default"><%= image_tag "airplane_icon.png" %></a>
                <a href="/dashboard/trends#/hotels" type="button" data-filter="Hotel" class="btn btn-default"><%= image_tag "hotel_icon.png" %></a>
                <a href="/dashboard/trends#/car_rentals" type="button" data-filter="Car Rental" class="btn btn-default"><%= image_tag "car_icon.png" %></a>
        <% else %>

            <% if controller.action_name == "overview" %>
                <button style="font-size: 1.6em" type="button" class="btn btn-default all active">ALL</button>
                <button type="button" data-filter="Flight" class="btn btn-default"><%= image_tag "airplane_icon.png" %></button>
            <% else %>
               <button type="button" data-filter="Flight" class="btn btn-default active"><%= image_tag "airplane_icon.png" %></button>
            <% end %>
                <button type="button" data-filter="Hotel" class="btn btn-default"><%= image_tag "hotel_icon.png" %></button>
                <button type="button" data-filter="Car Rental" class="btn btn-default"><%= image_tag "car_icon.png" %></button>


        <% end %>
          </div>

    <% unless controller.action_name == "overview" %>
    <div class="btn-group">
      <button type="button" id="agencyDropdownFilterText" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        GSA <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" id="agencyDropdownFilter" role="menu">
        <li><a href="javascript:void(0)">All</a></li>
        <li><a href="javascript:void(0)">NIH</a></li>
        <li><a href="javascript:void(0)">GSA</a></li>
        <li><a href="javascript:void(0)">IRS</a></li>
        <li><a href="javascript:void(0)">EPA</a></li>
        <li><a href="javascript:void(0)">FEMA</a></li>
        <li><a href="javascript:void(0)">DoJ</a></li>
        <li><a href="javascript:void(0)">FBI</a></li>
        <li><a href="javascript:void(0)">CIA</a></li>
        <li><a href="javascript:void(0)">DE</a></li>
        <li><a href="javascript:void(0)">DHS</a></li>
        <li><a href="javascript:void(0)">USDA</a></li>
      </ul>
    </div>
<script>
    $("#agencyDropdownFilter li").click(function(){
        $("#agencyDropdownFilterText").html($(this).text() + "&nbsp;<span class='caret'></span>");
        // $(".dropdown-menu").hide();
        // return false;
    });
</script>
    <% end %>
    <span id="reportrange" class="pull-right">
        <i class="fa fa-calendar fa-lg"></i>
        <span><%= @date_in_past %> - <%= @date %></span> <b class="caret"></b>
    </span>
</div>


