<!-- <div id="curtain" style="display:none;"></div>
-->
<div id="header">
  <%= image_tag "GSAlogo.gif", :class =>
  "logo" %>
  <div id="GSAloginHeader">
    <% if user_signed_in? %>
      <p>Welcome, <strong><%= current_user.email %></strong></p>
      <ul>
          <li>
            <%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
          <ul>
          <li>
            <%= link_to "Sign up", new_user_registration_path %></li>
          <li>|</li>
          <li>
            <%= link_to "Login", new_user_session_path %></li>

          <% end %>
          <li>|</li>
          <li class="tab" id="">
          <%= link_to "Add Transactions", import_index_path, :class =>"mainlk" %></li>
      </ul>

  </div>
  <div id="topnav">
    <ul>
      <li class="tab" id="">
        <%= link_to "Overview", dashboard_overview_path, :class =>"mainlk" %></li>
      <li class="tab" id="">
        <%= link_to "Trends", dashboard_trends_path, :class =>"mainlk" %></li>
      <li class="tab" id="">
        <%= link_to "Budgets", dashboard_budgets_path, :class =>"mainlk" %></li>
      <li class="tab" id="">
        <%= link_to "Transactions", dashboard_transactions_path, :class =>"mainlk" %></li>
      <li class="tab" id="">
        <%= link_to "Ways to Save", dashboard_ways_to_save_path, :class =>"mainlk" %></li>
    </ul>
  </div>
</div>
<!-- top nav end -->
