<div class="border">
<div id="wrapper">  
    <!-- -->
    


    <!-- <div id="curtain" style="display:none;"></div> -->
    <div id="header">  
      <%= image_tag "GSAlogo.gif", :class => "logo" %>
      <div id="GSAloginHeader">
       <ul>
         <li><%= link_to "About", "dashboard" %></li>
         <li>|</li>
            <% if user_signed_in? %>
            <li>Welcome, <strong><%= current_user.email %></strong>.</li>
            <li>|</li>
            <li><%= link_to 'Edit profile', edit_user_registration_path %></li> 
            <li>|</li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li>|</li>
            <li><%= link_to "Login", new_user_session_path %></li>
            <% end %>
        </ul>
     </div>
    <div id="topnav">
     <ul>
       <li class="tab" id="">
        <%= link_to "Overview", dashboard_overview_path, :class => "mainlk" %>
      </li>
      <li class="tab" id="">
        <%= link_to "Trends", dashboard_trends_path, :class => "mainlk" %>
      </li>
      <li class="tab" id="">
      <%= link_to "Budgets", dashboard_budgets_path, :class => "mainlk" %>
      </li>
      <li class="tab" id="">
      <%= link_to "Transactions", dashboard_transactions_path, :class => "mainlk" %>
      </li>
      <li class="tab" id="">
        <%= link_to "Add Transactions", import_index_path, :class => "mainlk" %>
      </li>
      <li class="tab" id="">
        <%= link_to "Ways to Save", dashboard_ways_to_save_path, :class => "mainlk" %>
      </li>
    </ul>
  </div>
  <!-- top nav end -->
