<ul>
    <li><%= link_to "Overview", dashboard_overview_path%></li>
    <li><%= link_to "Transactions", dashboard_transactions_path%></li>
    <li><%= link_to "Budgets", dashboard_budgets_path%></li>
    <li><%= link_to "Trends", dashboard_trends_path%></li>
    <li><%= link_to "Ways to Save", dashboard_ways_to_save_path%></li>
    <li><%= link_to "Add Transactions", import_index_path%></li>
</ul>
