<!DOCTYPE html>
<html>
<head>
  <title>GSAtravel</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src='https://www.google.com/jsapi'></script>
</head>
<body>
<div id="wrapper">

<%= render 'layouts/navigation' %>

<% if controller_name == "dashboard" %>
    <%= render 'layouts/filters' %>
<% end %>

<div class="mainContent">
<%= yield %>
</div>

</div>
<div class="footer">
</div>

</body>
</html>
