<!DOCTYPE html>
<html lang="en">
<head>
  <title>GSAtravel</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src='https://www.google.com/jsapi'></script>
   <script type='text/javascript'>
      google.load("visualization", "1.1", {packages:["calendar"]});
     google.setOnLoadCallback(drawChart);
    google.load('visualization', '1', {'packages': ['geochart']});
     google.setOnLoadCallback(drawMarkersMap);

      function drawMarkersMap() {
      var data = google.visualization.arrayToDataTable([
        ['Country',   'Population', 'Area Percentage'],
        ['France',  65700000, 50],
        ['Germany', 81890000, 27],
        ['Poland',  38540000, 23],
      ]);

      var options = {
        sizeAxis: { minValue: 0, maxValue: 100 },
        region: '155', // Western Europe
        displayMode: 'markers',
        colorAxis: {colors: ['#e7711c', '#4374e0']} // orange to blue
      };

      var chart = new google.visualization.GeoChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    };



        function drawChart() {
               var dataTable = new google.visualization.DataTable();
               dataTable.addColumn({ type: 'date', id: 'Date' });
               dataTable.addColumn({ type: 'number', id: 'Won/Loss' });
               dataTable.addRows([
                  [ new Date(2012, 3, 13), 37032 ],
                  [ new Date(2012, 3, 14), 38024 ],
                  [ new Date(2012, 3, 15), 38024 ],
                  [ new Date(2012, 3, 16), 38108 ],
                  [ new Date(2012, 3, 17), 38229 ],
                  [ new Date(2013, 9, 4), 38177 ],
                  [ new Date(2013, 9, 5), 38705 ],
                  [ new Date(2013, 9, 12), 38210 ],
                  [ new Date(2013, 9, 13), 38029 ],
                  [ new Date(2013, 9, 19), 38823 ],
                  [ new Date(2013, 9, 23), 38345 ],
                  [ new Date(2013, 9, 24), 38436 ],
                  [ new Date(2013, 9, 30), 38447 ]
                ]);

               var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));

               var options = {
                 title: "Red Sox Attendance",
                 height: 350,
               };

               chart.draw(dataTable, options);
           }



    </script>





</head>
<body ng-app="google-chart-sample" ng-cloak="">
<div id="wrapper">

<%= render 'layouts/navigation' %>

<% if controller_name == "dashboard" %>
    <%= render 'layouts/filters' %>
<% end %>

<div class="mainContent">
<%= yield %>
</div>

</div>
<div class="footer">
</div>

</body>
</html>
